#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallows-container {
    position: relative;
}

#stick-figure {
    position: absolute;
    top: 0;
    left: 0;
}

.body-part {
    display: none;
    position: absolute;
}

#head { top: 40px; left: 100px; }
#body { top: 100px; left: 100px; }
#left-arm { top: 100px; left: 70px; }
#right-arm { top: 100px; left: 130px; }
#left-leg { top: 160px; left: 80px; }
#right-leg { top: 160px; left: 120px; }
