body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gallows img {
  width: 200px;
  margin: 20px auto;
  transition: opacity 0.5s ease;
}

#word-to-guess {
  font-size: 2em;
  margin: 20px 0;
}

#guess-input {
  font-size: 1.2em;
  padding: 5px;
  margin-right: 10px;
}

#guess-button {
  font-size: 1.2em;
  padding: 5px 10px;
}

#remaining-guesses,
#guessed-letters,
#hint {
  font-size: 1.2em;
  margin: 10px 0;
}
